<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
  <title>電力資訊-用電數據視覺化</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link href="{{ url_for('static', filename='css/style.default.css') }}" id="theme-stylesheet" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/grasp_mobile_progress_circle-1.0.0.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/amchart/amchart.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/amchart/diagram.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dae/jquery-ui.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <script src="https://use.fontawesome.com/99347ac47f.js"></script>
  <script src="{{ url_for('static', filename='js/amchart/amcharts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/amchart/serial.js') }}"></script>
  <script src="https://www.amcharts.com/lib/3/gauge.js"></script>
  <script src="{{ url_for('static', filename='js/amchart/light.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lvami/diagram.js') }}"></script>

  <link href="/static/sweetalert2/sweetalert2.css" rel="stylesheet">
  <script src="/static/sweetalert2/sweetalert2.js"></script>
  <script src="/static/sweetalert2/sweetalert2.common.js"></script>

</head>
$("#user_list a").click(function () { localStorage["user"] = $(this).find("div").text(); });

<body>
  <!-- Side Navbar -->
  <nav class="side-navbar" style="overflow: hidden; outline: none;" tabindex="0">
    <div class="side-navbar-wrapper">
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <div class="sidenav-header-inner text-center"><img src="static/img/admin.png" alt="person" class="img-fluid rounded-circle">
          <h2 id="user_id" class="h5 text-uppercase">admin</h2><span class="text-uppercase">用電資訊</span>
        </div>
        <div class="sidenav-header-logo">
          <a href="client_page" class="brand-small text-center"> <strong>K</strong><strong class="text-primary">D</strong><strong class="text-primary">D</strong></a>
        </div>
      </div>
      <div class="admin-menu">
        <ul id="side-admin-menu" class="side-menu list-unstyled">
          <li> <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false" class="collapsed"><i class="icon-home"></i><span>即時用電資訊</span>
                <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
            <ul id="pages-nav-list" class="list-unstyled collapse" aria-expanded="false" style="">
              <li> <a href="admin_page">我的用戶資訊(即時用電)</a></li>
              <li> <a href="client_page">D00001</a></li>
              <li> <a href="client_page">D00002</a></li>
              <li> <a href="client_page">D00003</a></li>
              <li> <a href="client_page">D00004</a></li>
              <li> <a href="client_page">D00005</a></li>
              <li> <a href="client_page">D00006</a></li>
              <li> <a href="client_page">D00007</a></li>
              <li> <a href="client_page">D00008</a></li>
              <li> <a href="client_page">D00009</a></li>
              <li> <a href="client_page">D00010</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page home-page">
    <!-- navbar-->
    <header class="header">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-holder d-flex align-items-center justify-content-between">
            <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="fa fa-bars fa-2x" aria-hidden="true" style="vertical-align: middle;"></i></a>
              <a href="index.html" class="navbar-brand">
                <div class="brand-text hidden-sm-down"><span>電力小柴犬</span><strong class="text-primary">用電型態及數據視覺化呈現</strong></div>
              </a>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              <li class="nav-item"><a href="/" class="nav-link logout">首頁<i class="fa fa-sign-out"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="dashboard-header section-padding">
      <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
          <!-- To Do List-->
          <div class="col-lg-3 col-sm-12 col-md-3">
            <div class="wrapper count-title d-flex">
              <div class="icon"><i class="icon-user"></i></div>
              <div  class="name"><strong class="text" id="admin_average_sum" style="width: 120%;font-family: Microsoft JhengHei;">本月全部用戶的用電平均</strong>
                <div id="avg_power" class="text-primary count-number" style="font-size:150%"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-sm-12 col-md-9 ">
            <div class="wrapper project-progress">
              <div>
                <i id="back_to_power" class="fa fa-reply btn_total_power pull-right" aria-hidden="true" style="display:none;font-size: 30px;color: red;margin-right: 118px;cursor: pointer"></i>
                <div id="adminchartft" style="overflow: hidden; text-align: left; display: none;"></div>
              </div>
              <div><i class="fa fa-question-circle" id="question_of_admin" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                  title="白天用電時間為6:00 ~ 18:00，晚間用電時間為18:00 ~ 6:00"></i>
                <div id="admincharttotal"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Statistics Section-->

    <footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6 text-right">
            <!--<p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>-->
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/grasp_mobile_progress_circle-1.0.0.min.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nicescroll.min.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.min.js ') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts-home.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/front.js ') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/effect.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lvami/data_admintotal.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lvami/admin_management_call.js') }}"></script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
  <!---->

  <script>
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
        function () {
          (b[l].q = b[l].q || []).push(arguments)
        });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>
  <script>
    $("#pages-nav-list li a").click(function () {
      localStorage["user"] = $(this).text();
    });
    // console.log(localStorage["user"]);
  </script>
</body>

</html>